.topBar {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.topImage {
    margin: 0;
    height: 100px;
    padding: 6px;
    border: 4px solid;
    border-image: url(../images/white_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
}

#logo {
    /*margin-left: 0px;*/
}

#gameLogo {
    /*margin-left: 0;*/
}

#logosSpacer {
    width: 420px;
}

#timerDisplay {
    margin: 0;
    margin-left: auto;
    height: 100px;
    width: 280px;
    font-size: 100px;
    padding: 6px 6px 6px 6px;
    border: 4px solid;
    border-image: url(../images/white_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("../images/lego_plate_background.png");
    font-family: "Lucida Console", Courier, monospace;
}

table {
    /*border-collapse: collapse;*/
    border: none;
    table-layout: fixed;
    width:1800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    border-spacing: 0;
    font-size: 50px;
}

th {
    /*background-color:white;*/
    color: black;
    border: 4px solid;
    border-image: url(../images/red_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
}

th, td {
    text-align: left;
    overflow: hidden;
    padding: 2px 1px 0 1px;
}

tr {
    /*border-bottom: none;*/
    /*border-color: black;*/
    height: 60px;
}

td {
    border: 4px solid;
    border-image: url(../images/white_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
}

tr:nth-child(odd) > td{
    border: 4px solid;
    border-image: url(../images/grey_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
}

#rankHeader {
    width: 170px;
}

#finalScoreHeader {
    width: 170px;
}

.RoundHeader {
    width: 110px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.display {
    flex: 0 1 auto;
    overflow: hidden;
    resize: vertical;
    height: 100%;
}

.box .row.blackout {
    flex: 1 1 auto;
    background-color: black;
}
