.topImage {
    display: inline-block;
    margin: 10px;
    max-height: 100px;
    min-height: 50px;
}

#logo {
    margin-left: 5%;
}

#gameLogo {
    margin-left: 5%;
}

#timerDisplay {
    display: inline-block;
    float:right;
    margin: 10px;
    margin-right: 5%;
    text-align: right;
    font-size: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: "Lucida Console", Courier, monospace;
}

table {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    font-size: 48px;
}

th {
    background-color:#0f1f60;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    border-bottom: solid;
    border-color: black;
}

td {
    border: 1px;
    border-left: solid;
    border-right: solid;
    border-left-color: darkgray;
    border-right-color: darkgray;
}

#rankHeader {
    width: 125px;
}

#finalScoreHeader {
    width: 150px;
}

.RoundHeader {
    width: 100px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.display {
    flex: 0 1 auto;
    overflow: hidden;
    resize: vertical;
    height: 100%;
}

.box .row.blackout {
    flex: 1 1 auto;
    background-color: black;
}
