table {
    border-collapse: collapse;
    border: none;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

th {
    background-color:#0f1f60;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button.addButton {
    background-color: transparent;
    background-image: url(../images/add.png);
    background-size:32px 32px;
    border: none;
    height: 32px;
    width: 32px;
    outline:none;
}

button.deleteButton {
    background-color: transparent;
    background-image: url(../images/close.png);
    background-size:32px 32px;
    border: none;
    height: 32px;
    width: 32px;
    outline:none;
}

#importForm {
    background-color: #dddddd;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
