.controlsContainer {
    display: inline-block;
    float: left;
    width: 300px;
    background-color:#DDDDDD;
    border-radius:5px;
    margin: 5px;
}

.controlsGroup {
    margin: 10px 10px 20px 10px;
}

#dynamicPageList {
    display: inline-block;
    float: right;
    width: 33%;
    background-color:#DDDDDD;
    border-radius:5px;
}

.controlsGroup input[type="text"],
.controlsGroup input[type="date"],
.controlsGroup input[type="datetime"],
.controlsGroup input[type="email"],
.controlsGroup input[type="number"],
.controlsGroup input[type="search"],
.controlsGroup input[type="time"],
.controlsGroup input[type="url"],
.controlsGroup input[type="password"],
.controlsGroup input[type="file"],
.controlsGroup input[type="range"],
.controlsGroup textarea,
.controlsGroup select,
.controlsGroup button,
.controlsGroup output
{
    display: block;
    margin-left: 20px;
}

.disabledcontrol {
    pointer-events: none;
    opacity: 0.4;
}

#dynamicPageList a {
    display: block;
    margin: 10px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    color:#000;
}

.controlsGroup label.display {
    display: block;
    margin-left: 20px;
}

.controlsGroup label.groupHeading {
    display: block;
    margin-bottom: 8px;
}

.controlsGroup .sponsorImage {
    width: 200px;
    margin-top: 10px;
}

button.deleteButton {
    background-color: transparent;
    background-image: url(../images/close.png);
    background-size:32px 32px;
    border: none;
    height: 32px;
    width: 32px;
    outline:none;
}

#updateAlert {
    display: none;
}
