html, body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
    overflow: hidden;
}

#timerDisplay {
    font-size: min(35vw, 50vh);
    margin-top: 5%;
}

