html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: "Lucida Console", Courier, monospace;
}

.root-container {
    /* Enforce aspect ratio fit */
    width: 100vw;
    height: 56.25vw;  /*16:9*/
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Style content */
    display: flex;
    flex-direction: column;
}

.announcement-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.556%;
}

.content-container {
    flex-grow: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.blackout-container {
    flex-grow: 1;
    background-color: black;
}

.fll-logo-container {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fll-logo-container >img {
    height: 80%;
}

.sponsors-container {
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sponsor-list {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
}

#sponsor-list img {
    margin: 2%;
    max-width: 100%;
    height: auto;
    min-width: 0;
}

.scores-table-container {
    flex-grow: 1;
    background-image: url("../images/olympus_unearthed_theme_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 3.125% auto 1fr auto 1fr 15.625% 3.125%;
    grid-template-rows: 11.111% auto 1fr;
    grid-template-areas:
        ". lego-logo ..... game-logo ..... timer ."
        ". table     table table     table table ."
        ". ......... ..... ......... ..... ..... .";
}

.logo {
    box-sizing: border-box;
    margin: 0;
    height: 11.111%;
    padding: min(1%, 6px);
    border: 4px solid;
    border-image: url(../images/white_tile_slice.png) 4 fill;
    border-image-repeat: stretch;
}

#lego-logo {
    display: none;
    grid-area: lego-logo;
    height: 100%;
    width: auto;
    object-fit: contain;
}

#game-logo {
    display: none;
    grid-area: game-logo;
    height: 100%;
    width: auto;
    max-width: 25vw;
    object-fit: contain;
}

#timer-display {
    grid-area: timer;
    box-sizing: border-box;
    height: 8vh;
    width: 100%;
    margin: 0;
    margin-top: 3vh;
    padding: min(1%, 6px);
    padding-right: 10vw;
    text-align: center;
}

#scores-table {
    grid-area: table;
    border: none;
    table-layout: fixed;
    width: 100%;
    max-height: 77vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    border-spacing: 0;
    font-size: calc(3.125vw - 14px);
}

#header-row th {
    text-align: left;
    overflow: hidden;
    padding: 2px;
    color: black;
    border: 1px solid;
    border-color: #b74525;
    background-color: #ea572e;
}

.tournament-header {
    text-align: center;
    overflow: hidden;
    padding: 2px;
    color: black;
    border: 1px solid;
    border-color: #334a52;
    background-color: #598290;
}

#scores-table td {
    text-align: left;
    overflow: hidden;
    padding: 2px;
    background-color: #dbdbdb;
    border: 1px solid;
    border-color: #a8a8a8;
}

#scores-table tr:nth-child(odd) > td {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a8a8a8;
}

.rank-col {
    width: 10%;
}
.round-col {
    width: 6.667%;
}
.final-score-col {
    width: 10%;
}

#rank-header {
    box-sizing: border-box;
    width: 10%;
}

.round-header {
    box-sizing: border-box;
    width: 6.667%;
}

#final-score-header {
    box-sizing: border-box;
    width: 10%;
}

.hidden-container {
    display: none;
}
