name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  job:
    name: Build and Test - ${{ (startsWith(matrix.os, 'ubuntu') && 'Linux') || (startsWith(matrix.os, 'windows') && 'Windows') }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, windows-2022 ]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Run Tests
      run: cargo test --verbose

    - name: Run Clippy
      run: cargo clippy --verbose
