name: Release Assets

on:
  release:
    types: [ "published" ]
  workflow_dispatch:

jobs:
  job1:
    name: Build Linux Assets
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Installer
        run: cargo packager --release --formats deb

      - name: Publish Assets
        uses: softprops/action-gh-release@v2
        if: ${{github.event_name == 'release'}}
        with:
          files: |
            ${{github.workspace}}/targets/release/olympus_*.deb

  job2:
    name: Build Windows Assets
    runs-on: windows-2022
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Installer
        run: cargo packager --release --formats nsis

      - name: Publish Assets
        uses: softprops/action-gh-release@v2
        if: ${{github.event_name == 'release'}}
        with:
          files: |
            ${{github.workspace}}/targets/release/olympus_*-setup.exe

  job3:
    name: Publish Docker Image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name == 'release'
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ format('{0}/{1}', 'ghcr.io', github.repository) }}
          tags: |
            type=match,pattern=\d+.\d+
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.7.0
        with:
          context: .
          push: ${{ github.event_name == 'release' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
